.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to top, #3498db, #FFFFFF);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  height: 40px;
  padding: 10px;
}
.button {
  text-align: center;
  text-decoration: none;
  width: 120px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  color: black;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
.error {
  color: red;
}