.container{
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.email {
  font-size: 16px;
  margin: 0;
}
.phone {
  font-size: 16px;
  margin: 0;
}